body {margin: 0 auto; line-height: 1.5em; padding: 50px; box-sizing: border-box; color: #000000; overflow: auto;}
body, html { height:100%; overflow:visible; } 

.wrapper {box-sizing: border-box; height: 100%; overflow: auto; }


a {text-decoration: none; color: #000; border-bottom: 3px solid #0068FF;}
a:hover {color: #0068FF}
p {font-weight: 200; font-size: 13px;}

.name {font-family: Roboto+Mono; font-size: 20px; text-transform: none; font-weight: 900; padding: 0px; border: 0px solid #000000; color: #000000;}

.container {margin: 0 auto; width: 700px; padding: 120px 12px 50px; overflow: auto;}


.meta {text-transform: uppercase; font-family: Arial, Courier New, Source Sans Pro, sans-serif; font-size: 10px; letter-spacing: .15em;}
.meta a:hover {color: #000000;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

footer .inline-list li {margin-right: 40px;}
footer a {border: none; color: #0068FF;}
footer {bottom: 100%; right: 0px; padding: 40px 0 0 0; width: 600px; -webkit-transform: rotate(0deg);}
